<h3> Habilidades y Competencias</h3>
<table border="0">
    <li>
        <tr>
            <td>
                <p>Trabajo en equipo</p>
        </td><label for="file">File progress:</label> <progress id="file" max="100" value="80"> 70% </progress>
    
   
</tr>
        <tr>
            <td>
                <p>Programación Orientado a objetos</p>
            </td><label for="file">File progress:</label> <progress id="file" max="100" value="83"> 70% </progress>
            
        </tr>
        <tr>
            <td>
                <p>Liderazgo</p>
            </td><label for="file">File progress:</label> <progress id="file" max="100" value="90"> 70% </progress>
        </tr>
        <tr>
            <td>
                <p>Creatividad</p>
            </td><label for="file">File progress:</label> <progress id="file" max="100" value="75"> 70% </progress>
        </tr> 
        <tr>
            <td>
                <p>Disposición de tiempo</p>
            </td><label for="file">File progress:</label> <progress id="file" max="100" value="100"> 70% </progress>
        </tr> 
    </li>
</table>